body{
    background-color: rgba(97, 185, 9, 0.808);
    font-family:Oswald, cursive;
}
header{
font-size:50px;
text-align:center;
} 
.top1{
    background-color: rgba(3, 127, 133, 0.836);
    color:rgba(255, 234, 0, 0.894);
    text-align:center;
    padding:40px;
}